@import "../common/breakpoints";

#newsfeed{
    @include respond-to('sm'){
        width:33%;
        margin:auto;
    }
}

.post-container{
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 65px 100% 100%;
    background-color:#F9F9F9;
    margin: 1rem 0;
    @include respond-to('xl'){
        max-width: 525px;
    }
}

.post-user-icon{
    grid-row: 1;
    grid-column: 1;
    width:60px;
    height:60px;
    margin: 0 auto;
    img{
        border-radius:100%;
        width:100%;
        height:100%;
    }
}
.post-user-info{
    grid-row: 1;
    grid-column: 2;
    div{
        position: relative;
        top:15%;
    }
    height:60px;
    margin: auto 0;
    padding-top:.2rem;
}

.post-text{
    grid-column: 2;
    grid-row: 2;
    padding-right:2rem;
}
.post-image{
    grid-column:2;
    grid-row:3;
    margin-top:.5rem;
    padding-right:2rem;
    img{
        max-width: 100%;
        height: auto;
    }
}

