.signup-input{
    input{
        border: none;
        box-shadow: none;
        height: 1.75rem;
        font-size: 1.1rem;
        font-family: 'Merriweather Sans', sans-serif;
        margin-bottom: 1rem;
    }
}