@import '../common/palette';

.signup-input{
    input{
        border: none;
        box-shadow: none;
        width: 300px;
        height: 1.75rem;
        font-size: 1.1rem;
        font-family: 'Merriweather Sans', sans-serif;
        margin-bottom: 1rem;
    }
}

#signup-submit{
    button{
        background-color : $orange;
        box-shadow: 2px 2px 1px darken($orange, 10%);
        color: white;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 600;
        border: none;
        padding: 2px 2rem;
        width: 200px;
        height: 1.75rem;
        line-height: 100%;
        transition: .1s;
        &:hover{
            background-color: $blue1;
            box-shadow: 2px 2px 1px darken($blue1, 10%);
        }
    }
}