@import "../common/palette";

#login-form-container{
    display:inline-block;
    height:100%;
    vertical-align: bottom;
    margin-right: 5rem;
}
#login-form{
    display: inline-block;
    position: relative;
    top:50%;
}
.login-input{
    display: inline-block;
    input{
        border: none;
        box-shadow: none;
        font-family: 'Merriweather Sans', sans-serif;
        margin-right: 1rem;
    }
}

#login-submit{
    display: inline-block;
    position: relative;
    top:50%;
    button{
        display:inline-block;
        box-shadow: 25px 25px ;
        background-color : $blue1;
        box-shadow: 2px 2px 1px darken($blue1, 10%);
        color: white;
        font-family: 'Merriweather Sans', sans-serif;
        border: none;
        padding: 2px 2rem;
    }
}